*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
/* body {
  width: 1440px;
} */
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
p {
  text-align: justify;
}
.background-shapes .ecclipse-10 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-shapes .ecclipse-9 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.background-shapes .ecclipse-11 {
  position: absolute;
  top: 723px;
  height: 1293px;
  left: 0;
  z-index: -1;
}
.background-shapes .ecclipse-12 {
  position: absolute;
  top: 1728.94px;

  right: 0;
  width: 393px;
  height: 993px;

  z-index: -1;
}
.background-shapes .ecclipse-14 {
  position: absolute;
  top: 2955.94px;
  height: 973px;
  left: 0;
  z-index: -1;
}
.background-shapes .ecclipse-13 {
  position: absolute;
  top: 3328.94px;

  right: 0;
  width: 793px;
  height: 993px;

  z-index: -1;

  /* overflow-y: hidden; */
}
/* @media only screen and (max-width: 800px) {
  .ecclipse-9,
  .ecclipse-10,
  .ecclipse-11,
  .ecclipse-12,
  .ecclipse-13,
  .ecclipse-14 {
    display: none;
  }
} */
@media only screen and (max-width: 1290px) {
  .ecclipse-10 {
    height: 20vh;
  }
  .ecclipse-9 {
    height: 60vh;
  }
  .ecclipse-11 {
    /* width: 50vw; */

    height: 1000px;
    width: 400px;
  }
  .ecclipse-12 {
    position: absolute;
    top: 2728.94px;
    right: 0;
    width: 393px;
    height: 993px;
    z-index: -1;
  }
  .ecclipse-14 {
    width: 250px;
    margin-top: 15rem;
  }
  .ecclipse-13 {
    width: 100px;
    margin-top: 40rem;
  }
}
@media only screen and (max-width: 700px) {
  .ecclipse-10 {
    height: 20vh;
    width: 90vw;
  }
  .ecclipse-9 {
    /* height: 40v; */
    width: 70vw;
    /* width: 90vw; */
  }
  .ecclipse-11 {
    /* width: 50vw; */

    /* height: 1000px; */
    width: 50vw;
    margin-top: -60rem;
  }
  .ecclipse-12 {
    position: absolute;
    top: 2728.94px;
    right: 0;
    width: 393px;
    height: 993px;
    z-index: -1;
  }
  .ecclipse-14 {
    width: 250px;
    margin-top: 15rem;
  }
  .ecclipse-13 {
    width: 100px;
    margin-top: 40rem;
    display: none;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 20rem;
}
nav .logo img {
  height: 8rem;
}
nav .navigation-menus {
  display: flex;
}
nav .navigation-menus li {
  list-style: none;
}
nav .navigation-menus li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 780px) {
  nav .navigation-menus {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
.nav-bar {
  visibility: hidden;
  /* height: 10rem; */
  width: 100%;
  /* background-image: linear-gradient(#54defa, #00afd1); */

  /* position: fixed;
  top: 0; */
  z-index: 20;
  /* box-shadow: 0px 3px 18px 30px rgba(0, 0, 0, 0.2); */
}
.nav-bar img {
  height: 8rem;
  width: 20rem;
  margin: 1rem 4rem;
  margin-top: -20rem;
}
#nav_checkbox {
  display: none;
}

.ham__label {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 20;
}
.background {
  display: none;
  width: 5.5rem;
  height: 5.5rem;
  /* background-color: #81dcee; */
  border-radius: 3px;
  cursor: pointer;
  background: white;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.hamburger {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 3.5rem;
  height: 2px;
  cursor: pointer;
  opacity: 1;
}
.hamburger::before {
  content: "";
  background-color: black;
  width: 3.5rem;
  height: 2px;
  position: absolute;
  top: -1rem;
  transition: all 0.4s;
}
.hamburger::after {
  content: "";
  background-color: black;
  width: 3.5rem;
  height: 2px;
  position: absolute;
  top: 1rem;
  left: 0rem;
  transition: all 0.4s;
}

.responsive-menu-section {
  position: relative;
  opacity: 0;
  visibility: hidden;
  height: 0;
  z-index: 10;
  transition: all 0.4s;
}

.responsive-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.responsive-menu li {
  display: inline;
  padding: 2.5rem 0rem;
}
.responsive-menu li a {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
}
/* .responsive-menu li a:hover,
.responsive-menu li a.active {
  color: white;
} */

@media only screen and (max-width: 900px) {
  .nav-bar {
    visibility: visible;
  }
  /* nav {
    visibility:hidden;
  } */

  .background {
    display: block;
  }
  .hamburger {
    display: inline;
  }

  #nav_checkbox:checked ~ .responsive-menu-section {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: white;
  }

  #nav_checkbox:checked + .ham__label .hamburger {
    height: 0;
  }
  #nav_checkbox:checked + .ham__label .hamburger::before {
    top: 0rem;
    transform: rotate(135deg);
  }
  #nav_checkbox:checked + .ham__label .hamburger::after {
    top: 0rem;
    transform: rotate(-135deg);
  }
}
@media only screen and (max-width: 400px) {
  .responsive-menu li a {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
  }
}

.what-is-million-careers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 7rem 11.6rem 7rem 16.6rem;
}
.what-is-million-careers .left-side span {
  font-size: 4.2rem;
  display: inline-block;
  width: 40rem;
  font-weight: bold;
}
.what-is-million-careers .left-side p {
  margin-top: 2rem;
  font-size: 1.8rem;
  width: 408px;

  line-height: 2.8rem;
  /* letter-spacing: 0.1rem; */
  text-align: justify;
  color: grey;
  /* word-spacing: 1.2rem; */
}
.what-is-million-careers .right-side iframe {
  height: 41.9rem;
  width: 63.1rem;
  border-radius: 24px;
}
@media only screen and (max-width: 500px) {
  .what-is-million-careers {
    margin: 0rem;
    padding: 0;
    width: 100vw;
    padding-bottom: 0rem;
    display: flex;
    /* margin-left: 2rem; */
    align-items: center;
    justify-content: center;
  }
  .what-is-million-careers .left-side span {
    /* font-size: 3rem; */
    display: inline-block;
    width: 90vw;
    font-weight: bold;
  }
  .what-is-million-careers .left-side p {
    width: 90vw;
  }
  .what-is-million-careers .right-side iframe {
    /* margin-top: ; */
    margin-top: 3rem;
    width: 90vw;
    height: 270px;
    /* padding: 2rem; */
    /* margin: 2rem; */
  }
}
.vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 11rem;
}
@media only screen and (max-width: 500px) {
  .vision .left-side img {
    width: 90vw;
  }
}

.vision .right-side span {
  font-size: 4.8rem;
  line-height: 7.2rem;
}
.vision .right-side p {
  font-size: 1.6rem;
  width: 42.9rem;
  font-weight: 400;
  line-height: 2.8rem;

  color: grey;
  /* word-spacing: 1.2rem; */
}
.mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 20rem;
}
.mission .left-side span {
  font-size: 4.8rem;
  line-height: 7.2rem;
}
.mission .left-side p {
  font-size: 1.6rem;
  width: 42.9rem;
  line-height: 2.8rem;
  color: grey;
}
@media only screen and (max-width: 500px) {
  .mission .right-side img {
    width: 70vw;
    /* display:none; */
  }
}
@media only screen and (max-width: 400px) {
  .vision {
    padding: 0;
  }
  .vision .right-side p,
  .mission .left-side p {
    width: 90vw;
  }
}
@media only screen and (max-width: 1300px) {
  .mission {
    flex-direction: column;
  }
  .what-is-million-careers {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .services .content p {
    width: 90%;
  }
  /* .testimonial-video,
  .testimonial-video iframe {
    width: 100px;
    padding: 0;
    margin: 0; */
  /* display: none; */
}
.our-services {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  /* color: rgba(186, 36, 34, 1); */
  font-weight: 800;
  margin: 6rem;
  letter-spacing: 0.1rem;
}
.services {
  display: flex;
  align-items: center;
  /* flex-flow: row-reverse; */
  justify-content: space-between;
  padding: 3rem 11rem;
}

.services .content span {
  font-size: 4.8rem;
  line-height: 7.2rem;
  font-weight: 400;
  /* letter-spacing: 0.3rem; */
}
.services .content p {
  font-size: 2rem;
  width: 75.1rem;
  line-height: 4.6rem;
  color: rgba(119, 119, 119, 1);
}
@media only screen and (max-width: 1300px) {
  .services img {
    width: 90%;
  }
  .our-services {
    font-size: 4rem;
  }
  .services {
    flex-direction: column;
    padding: 0;

    /* display:none; */
  }
  .services .content p {
    line-height: 3.5rem;
  }
  .reverse-flow {
    /* flex-direction: row; */
    /* flex-flow: row-reverse; */
    /* flex-direction: column; */
    flex-flow: column-reverse;
  }
}
@media only screen and (max-width: 650px) {
  .services .content p {
    width: 80vw;
  }

  .services .content span {
    font-size: 4rem;
  }
}
.testimonial-video-outer-div {
  display: flex;
  justify-content: center;
}
.testimonial-video {
  margin: 0rem 10rem;
  background-color: rgba(5, 29, 51, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.4rem;
  padding: 2rem;
  margin: 3rem 9rem;
  width: 938px;
}
.testimonial-video span {
  font-size: 4.8rem;
  color: white;
}
.testimonial-video iframe {
  height: 416.49px;
  width: 886.63px;
  border-radius: 24px;
  margin: 3rem 0;
}
@media only screen and (max-width: 1300px) {
  .testimonial-video,
  .testimonial-video iframe {
    width: 90%;
    margin: 1rem 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .testimonial-video,
  .testimonial-video iframe {
    width: 90%;
    height: 300px;
  }
}

.our-latest-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgba(255, 78, 80, 1),
    rgba(249, 212, 35, 1)
  );
  color: white;
  padding: 8rem;
}
.our-latest-blog span {
  font-size: 2rem;
  font-weight: 700;
}
.our-latest-blog h2 {
  font-size: 4.8rem;
  margin: 4rem 0;
  font-weight: normal;
  line-height: 7.2rem;
}
@media only screen and (max-width: 700px) {
  .our-latest-blog {
    padding: 4rem;
  }
  .our-latest-blog h2 {
    font-size: 2.5rem;
    margin: 0;
    line-height: 4rem;
    margin-left: 2rem;
  }
}

.blogs {
  display: flex;
}
.blog {
  margin: 5rem;
}
.blog .blog-heading {
  font-size: 2.4rem;
  font-weight: 400;
  /* margin-top: 2rem; */
  /* top: calc(50% - 36px/2); */
  line-height: 3.6rem;
}
.blog .read-now {
  font-size: 2rem;
  font-weight: 700;
}
.blog hr {
  width: 50%;
  border: none;
  background-color: white;
  height: 0.2rem;
  margin-top: 1rem;
}
.blog img {
  width: 30rem;
  height: 35.4rem;
}
.blog div img {
  height: 3rem;
  width: 3rem;
  color: white;

  /* padding-top: 1rem; */
}
.blog div {
  display: flex;
  align-items: center;
  /* justify-content:; */
  /* height: 4rem; */
}
@media only screen and (max-width: 1100px) {
  .blog {
    margin: 2rem;
  }
  .blogs {
    /* flex-direction: row; */
    flex-direction: column;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  background-color: rgba(5, 29, 51, 1);
  color: white;
  padding-left: 11.3rem;
}
footer .content {
  font-size: 1.8rem;
  width: 31.3rem;
  line-height: 2.8rem;
  text-align: justify;
  /* word-spacing: 1rem; */
}
footer .content img {
  width: 184px;
  height: 83.86px;
}
footer .content hr {
  margin: 2rem 0;
  height: 0.3rem;
  border: none;
  background-color: white;
}
footer .quick-links {
  list-style: none;
  font-size: 2.5rem;
  /* font-weight: 600; */
}
footer .quick-links a {
  text-decoration: none;
  color: white;
}
footer .quick-links a li {
  margin: 1rem;
}
footer .newsletter span {
  display: block;
  font-size: 3.5rem;
  line-height: 4.31rem;
  font-weight: 600;
  width: 43.9rem;
}
footer .newsletter input {
  /* height: 4.8rem; */
  width: 32.3rem;

  color: rgba(69, 69, 69, 1);
  font-size: 1.2rem;
  padding: 2rem 3rem;
  border-radius: 5px;
  border: none;
}
footer .newsletter a.subscribe {
  width: 13.2rem;
  text-align: center;
  color: rgba(5, 29, 51, 1);
  background-color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 2rem 3rem;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 1rem;
}
footer .newsletter .social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding:2rem 6rem ; */
  margin-top: 3rem;
}
footer .newsletter .social-media img {
  margin: 0 1rem;
}
@media only screen and (max-width: 1300px) {
  footer {
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  footer .quick-links {
    text-align: center;
    padding: 3rem 0;
  }
  footer .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .newsletter span {
    width: 90%;
    text-align: center;
  }
  footer .newsletter input {
    width: 80%;
    margin-bottom: 3rem;
  }
}
.last-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 3.164rem;
  padding: 1.8rem 4rem;

  /* padding: 2rem 4rem 4rem 4rem; */
}
